// colors
$accentColor: #1f5bff !default;
$textColor: #2c3e50 !default;
$borderColor: #eaecef !default;
$codeBgColor: #282c34 !default;
$arrowBgColor: #ccc !default;
$tipColor: #1f5bff !default;
$warningColor: #e7c000 !default;
$dangerColor: #cc0000 !default;
$badgeTipColor: $tipColor !default;
$badgeWarningColor: $warningColor !default;
$badgeDangerColor: $dangerColor !default;

// layout
$navbarHeight: 3.6rem !default;
$sidebarWidth: 20rem !default;
$contentWidth: 85ch !default;
$homePageWidth: 960px !default;

// responsive breakpoints
$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;

// code
$lineNumbersWrapperWidth: 3.5rem !default;
$codeLang: "c" "cpp" "cs" "css" "dart" "docker" "fs" "go" "html" "java" "js" "json" "kt" "less" "makefile"
    "md" "php" "py" "rb" "rs" "sass" "scss" "sh" "styl" "ts" "toml" "vue" "yml" !default;
